<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <title>Lista de Usuários</title>
</head>
<body>
    
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                NOME - CRUD <span class="badge text-bg-secondary">v1.0.0</span>
            </div>
        </div>
        <div class="row">
            <p><a href="add" class="btn btn-success">Adicionar</a></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">AÇÃO</th>
                    </tr>
                </thead>

                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td>
                                <a href="/edit/<%= user.id %>" class="btn btn-primary">Editar</a>
                                <a href="/delete/<%= user.id %>" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>